<div class="max-w-4xl mx-auto px-4 py-20 prose prose-slate ">
  <h1 class="font-serif text-4xl mb-8">Politique de confidentialité</h1>

  <!-- Données collectées -->
  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Données collectées</h2>
    <p>
      Lors de l'utilisation du formulaire de contact, les données suivantes
      peuvent être collectées :
    </p>
    <ul>
      <li>Nom et prénom</li>
      <li>Adresse email</li>
      <li>Numéro de téléphone</li>
      <li>Service demandé</li>
      <li>Message libre</li>
    </ul>
  </section>

  <!-- Finalité du traitement -->
  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Finalité du traitement</h2>
    <p>
      Les données sont collectées uniquement afin de recontacter les personnes
      ayant effectué une demande d'accompagnement administratif.
    </p>
  </section>

  <!-- Durée de conservation -->
  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Durée de conservation</h2>
    <p>
      Les demandes sont conservées pendant toute la durée de leur traitement.
Après leur clôture par l’administrateur, elles sont conservées pour une durée comprise entre <strong>30 </strong>et<strong> 90 jours</strong>, selon le choix du responsable du traitement.
À l’issue de cette période, les données sont soit supprimées, soit anonymisées.
    </p>
  </section>

  <!-- Sécurité des données -->
  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Sécurité des données</h2>
    <p>
      Aucune pièce justificative (documents officiels, fichiers PDF,
      numéros d'identification) n'est demandée ou stockée via le site.
    </p>
  </section>

  <!-- Droits des utilisateurs -->
  <section class="mb-8">
    <h2 class="text-2xl font-semibold mb-4">Droits des utilisateurs</h2>
    <p>
      Conformément au RGPD, vous disposez d'un droit d'accès, de rectification
      et de suppression de vos données personnelles.
      Vous pouvez exercer ces droits en contactant :
      <strong>[adresse email]</strong>.
    </p>
  </section>

  <!-- Back Button -->
  <app-button size="lg" variant="outline" (click)="onClickback()">
    <lucide-icon [name]="arrowLeft" class="w-5 h-5 mr-2" />
    Retour à l'accueil
  </app-button>
</div>